* {
    margin: 2px;
    font-family: Times New Roman;
}

#form {
    margin-top: -80px;
    height: 800px;
    width: 800px;
}

#div {
    display: flex;
    flex-direction: column;
    margin-left: 900px;
    margin-top: -680px;
    margin-right: 5px;
}

.label {
    color: gray;
    font-weight: 100;
    font-family: Arial Black;
}

.div2 {
    display: flex;
}